In [28]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('database.sqlite')

In [3]:
c = conn.cursor()

In [23]:
c.execute("SELECT name FROM sqlite_master WHERE TYPE = 'table';")
print(c.fetchall())

[('sqlite_sequence',), ('Player_Attributes',), ('Player',), ('Match',), ('League',), ('Country',), ('Team',), ('Team_Attributes',)]

In [25]:
names = [description[0] for description in c.description]

### Question 1

In [34]:
pd.read_sql_query('''SELECT team_long_name AS Team_Name, team_short_name AS Team_Abv, SUM(home_team_goal) AS Home_Goals
FROM Match
JOIN Team ON Team.team_api_id = Match.home_team_api_id
GROUP BY Match.home_team_api_id
ORDER BY Home_Goals DESC
LIMIT 10''', conn)

           Team_Name Team_Abv  Home_Goals
0     Real Madrid CF      REA         505
1       FC Barcelona      BAR         495
2             Celtic      CEL         389
3   FC Bayern Munich      BMU         382
4                PSV      PSV         370
5    Manchester City      MCI         365
6               Ajax      AJA         360
7           FC Basel      BAS         344
8  Manchester United      MUN         338
9            Chelsea      CHE         333

### Question 2

In [35]:
pd.read_sql_query('''SELECT team_long_name AS Team_Name, team_short_name AS Team_Abv, SUM(away_team_goal) AS Away_Goals
FROM Match
JOIN Team ON Team.team_api_id = Match.away_team_api_id
GROUP BY Match.away_team_api_id
ORDER BY Away_Goals DESC
LIMIT 10''', conn)

           Team_Name Team_Abv  Away_Goals
0       FC Barcelona      BAR         354
1     Real Madrid CF      REA         338
2             Celtic      CEL         306
3               Ajax      AJA         287
4                PSV      PSV         282
5           FC Basel      BAS         275
6   FC Bayern Munich      BMU         271
7            Arsenal      ARS         267
8  Borussia Dortmund      DOR         253
9            Chelsea      CHE         250

### Question 3

In [36]:
pd.read_sql_query('''SELECT COUNT(match_api_id) AS Ties
FROM Match
WHERE away_team_goal = home_team_goal
LIMIT 10''', conn)

   Ties
0  6596

### Question 4

In [39]:
pd.read_sql_query('''SELECT COUNT(player_name) FROM Player 
WHERE player_name LIKE '% SMITH'
''', conn)

   COUNT(player_name)
0                  15

In [40]:
pd.read_sql_query('''SELECT COUNT(player_name) FROM Player 
WHERE player_name LIKE '%SMITH%'
''', conn)

   COUNT(player_name)
0                  18

In [ ]:
conn.commit()
conn.close()